body{
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  background-color: black;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  align-items: center;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav span{
  display: inline-block;
  color: white;
  padding: 20px 10px;
}

header img{
  margin-left: 10px;
  height: 50px;
}

nav{
  text-align: right;
  flex-grow: 1;
}

a {
  color: seashell;
  text-decoration: underline;
}

div{
  display: block;
}

.main{
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
  border: thick solid black;
}

#mission{
  padding-top: 70px;
  height: 700px;
  width: 100%;
  background-image: url('../img/img-mission-background.jpg');
}

#mission .content{
  margin: auto;
  background-color: black;
  width: 100%;
}

#store{
  width:1000px;
  height: 700px;
  margin:auto;
  padding-top: 70px;
}

.item{
  padding: 5px;
}

.item img{
  height: 200px;
  margin: 10px;
  display: block;
}

#locations{
  height: 500px;
  width: 100%;
  padding-top: 20px;
  background-image: url('../img/img-locations-background.jpg');
}

.address{
  width: 300px;
  margin: 5px 20px;;
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact{
  height: 200px;
  margin: 40px;
}

footer{
  margin-left: 20px;
  text-align: left;
}
